.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%; /* Forma circular para coincidir con el estilo neumorfista */
}

.Icon-container-check {
  position: absolute;
  left: 12px;
}

.Icon-container-check--active {
  color: #4caf50; /* Verde para los íconos activos */
}

.Icon-container-delete {
  position: absolute;
  top: -24px;
  right: 0;
}

.Icon-container-delete:hover,
.Icon-container-delete:focus,
.Icon-container-delete:active {
  color: red;
}

.Icon-svg {
  width: 24px;
  height: 24px;
  fill: currentColor; /* Los íconos heredan el color del contenedor */
  transition: fill 0.3s ease;
}

.Icon-container-check:hover .Icon-svg,
.Icon-container-check:active .Icon-svg,
.Icon-container-check:focus .Icon-svg {
  fill: #4caf50; /* Verde al interactuar con el ícono de check */
}

.Icon-container-delete:hover .Icon-svg,
.Icon-container-delete:active .Icon-svg,
.Icon-container-delete:focus .Icon-svg {
  fill: red; /* Rojo al interactuar con el ícono de delete */
}
